.WeatherForecast {
    text-align: center;
}

.WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
}

.WeatherForecast {
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid #9f79e2;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #7f8389;
}